:root{
    --header-bg-primary-color: #E33F3F;
    --header-bg-secundary-color: #f26b6b;
    --header-components-border-color: #FF9898;
    --header-text-color: #FFFFFF;
    --header-component-bg-primary-color: #f26b6b;
}