:root{
    --header-bg-primary-color: #E33F3F;
    --header-bg-secundary-color: #f26b6b;
    --header-components-border-color: #FF9898;
    --header-text-color: #FFFFFF;
    --header-component-bg-primary-color: #f26b6b;
    --footer-bg-primary-color: #E33F3F;
    --footer-bg-secundary-color: #D13232;
    --footer-input-bg: #EF5D5D;
    --footer-input-cursor: #f6d0d0;
    --footer-button-bg-color: #2ECC71;
    --footer-end-text-color: #FFC1C1;
    --footer-component-bg-primary-color: rgba(255, 152, 152, 0.2);
    --section-title-color: rgba(64, 64, 68, 1);
    --section2-bg-primary-color: #FFFFFF;
    --text-emph-color: rgba(227, 63, 63, 1);
    --section2-title-color: rgba(73, 73, 73, 1);
    --section-desc-color: rgba(119, 119, 119, 1);
    --section-desc2-color: rgba(114, 114, 114, 1);
    --section2-bg-icons-color: #fad9d9;
    --section2-block-title-color: rgba(64, 64, 68, 1);
    --section2-block-desc-color: rgba(64, 64, 68, 1);
    --section2-image-bg-color: #fcf0f0;
    --section2-component1-bg-color: rgba(227, 63, 63, 1);
    --section2-component1-text-color: #FFFFFF;
    --section2-component1-image-bg-color: rgba(255, 152, 152, 1);
    --section2-component2-bg-color: rgb(255, 255, 255);
    --section2-component2-image-bg-color: #dcf2ed;
    --section2-component2-text-color: rgba(73, 73, 73, 1);
    --section3-bg-primary-color: rgba(249, 249, 249, 1);
    --section3-title-color: rgba(73, 73, 73, 1);
    --section3-bg-color: rgba(73, 73, 73, 1);
    --section3-topic-title: rgba(220, 242, 237, 1);
    --section3-topic-pemph: rgba(220, 242, 237, 1);
    --section3-topic-p: rgba(220, 242, 237, 1);
    --section4-bg-primary-color: #FFFFFF;
    --section4-desc-color: rgba(114, 114, 114, 1);
    --section4-points-shadow: rgba(0, 0, 0, 0.1);
    --section4-component-image-bg-color: rgba(220, 242, 237, 1);
    --section4-component-text-color: rgba(64, 64, 68, 1);
    --section6-bg-primary-color: rgba(249, 249, 249, 1);
    --section7-bg-primary-color: #FFFFFF;
    --section7-component2-title-color: rgba(227, 63, 63, 1);
}