.line{
    width: 167px;
    height: 6.7px;
    border-radius: 7px;

    background-color: rgba(32, 72, 79, 0.1);

    margin-bottom: .45rem;
}

.sz2{
    width: 111px;
}

.sz5{
    width: 590px;
    height: 1px;
    color: rgba(239, 239, 239, 1);
}

