.mk-p{
    font-family: 'Mukta', sans-serif;
    color: var(--header-text-color);
}

.pt-p{
    font-family: 'Prompt', sans-serif;
    color: var(--header-text-color);
}

.ct-p{
    font-family: 'Catamaran', sans-serif;
    color: var(--header-text-color);
}

.p-emph{
    font-family: 'Mukta', sans-serif;
    font-size: 1.125rem;
    line-height: 2.5rem;

    color: var(--text-emph-color) !important;
}

.title{
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;

    color: var(--section-title-color);
}