header{
    width: 100%;
    max-height: 659px;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: var(--header-bg-primary-color);

    border-bottom-left-radius: 100px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: 'Mukta';
}

.logotype{
    width: 100%;
    max-width: 9.12rem;
    position: relative;
    z-index: 20;
}

.logotype>img{
    width: 100%;
    height: auto;
    display: block;
}

.navbar nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
}


.navbar nav ul>li{
    list-style: none;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 20;
}

.navbar nav ul>li>a{
    color: var(--header-text-color);
    font-family: 'Prompt';
    font-weight: 400;
    line-height: 4rem;
    font-size: .75rem;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar nav ul>li:hover{
    transform: translateY(-5px);
}

.navbar nav ul>li>a:hover{

    color: var(--header-nav-color-hover);
}

.home{
    width: 100%;
    
    display: flex;
    justify-content: space-around;
}

.image_container{
    width: 100%;
    max-width: 37.1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.image_container>img{
    width: 100%;
    height: auto;
    display: block;
}

.home_content{
    width: 42%;
    display: flex;
    align-items: start;
    flex-direction: column; 
    z-index: 20; 
}

.home_content>p:first-of-type{
    font-size: .95rem;
    line-height: 1.8rem;
    font-weight: 300;

    margin-top: 3rem;
}

.home_content> h2{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.1rem;
}

.home_content>p{
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-top: .5rem;
}


.partners{
    display: flex;
    gap: 1.1rem;
    margin-top: 8rem;
}

.partners>p{
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.5rem;
}

.partners>img{
    aspect-ratio: 110 / 24;
}

.bx-menu{
    display: none;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .navbar>nav{
    position: absolute;
    background-color: var(--header-nav-bg-color);
    border-radius: .6rem;
    width: 50%;
    top: 0px;
    z-index: 30;
    display: none;
  }

  .show-menu nav{
    display: block;
  }
  nav ul{
    flex-direction: column;
  }

  nav ul li{
    color: #ffffff;
    text-align: center;
  }

  .menu-button{
    display: block;
    font-size: 1.5rem;margin-left: 0.5rem;
    color: white;
  }

  .image_container{
    display: none;
    max-width: 20rem;
    bottom: 0;

    left: 50%;
  }

  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home_content {
    align-items: center;
  }

  .home_content h2 {
    font-size: 2.2rem;
  }

}