header{
    width: 100%;
    max-height: 659px;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: var(--header-bg-primary-color);

    border-bottom-left-radius: 100px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: 'Mukta';
}

.logotype{
    width: 100%;
    max-width: 9.12rem;
    position: relative;
    z-index: 20;
}

.logotype>img{
    width: 100%;
    height: auto;
    display: block;
}

.navbar nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
}

.navbar nav ul>li{
    color: var(--header-text-color);
    font-family: 'Prompt';
    font-weight: 400;
    line-height: 4rem;
    font-size: .75rem;
    text-transform: uppercase;
    list-style: none;
    z-index: 20;
}

.home{
    width: 100%;
    
    display: flex;
    justify-content: space-around;
}

.image_container{
    width: 100%;
    max-width: 37.1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.image_container>img{
    width: 100%;
    height: auto;
    display: block;
}

.home_content{
    width: 42%;
    display: flex;
    align-items: start;
    flex-direction: column; 
    z-index: 20; 
}

.home_content>p:first-of-type{
    font-size: .95rem;
    line-height: 1.8rem;
    font-weight: 300;

    margin-top: 3rem;
}

.home_content> h2{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.1rem;
}

.home_content>p{
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-top: .5rem;
}


.partners{
    display: flex;
    gap: 1.1rem;
    margin-top: 8rem;
}

.partners>p{
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.5rem;
}

.partners>img{
    aspect-ratio: 110 / 24;
}